body {
    background-color: #000000;
    background: url(../Content/backGR.jpg);
}

input {
    background-color: #ffffff;
    border-radius: 6px;
    border: none;
    padding: 6px;
}

h2{
    text-align:center;
    color:white;
}

#header {
    text-align: center;
    color: white;
}

#loginBlock {
    text-align: center;
    width: 300px;
    background-color: #ffffff4d;
    border-radius: 12px;
    border: 2px dashed;
    padding: 24px;
    margin-left: calc(50% - (300px / 2) - 26px);    
    font-size: 2em;
    color: white;
}

#chatBody {
    /*    width: 600px;
    margin-left: calc(50% - 300px);
    background-color: aliceblue;
    border-radius: 12px;
    padding: 24px;*/

}

#inputForm {
    background-color: #727ff98c;
    position: fixed;
    width: 600px;
    bottom: 12px;
    left: calc(50% - 324px);
    padding: 24px;
    border-radius: 12px;
}

#chatusers {
    margin: 5px;
    float: right;
    position: fixed;
    top: 30px;
    right: 10px;
    padding: 12px;
    background-color: #727ff98c;
    border-radius: 12px;
    color: white;
    max-width:400px;
}

#chatusers p {
    background-color: #727ff98c;
    border-radius: 6px;
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 0;
    overflow-x:hidden;
}

#chatroom {
    width: 600px;
    max-height: 720px;
    margin-left: calc(50% - 324px);
    /*background-color: aliceblue;*/
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(28 36 134) 10%, rgb(229 255 237) 100%);
    border-radius: 12px;
    padding: 24px;
    overflow-y: auto;
}

#chatroom p {
    background-color: #e3fcff;
    border-radius: 6px;
    padding: 6px;
    margin-top: 6px;
    margin-bottom: 0;
}

#message{
    width:500px;
}
