/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 12px;
    padding-right: 12px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.red-border{
    border-color:red;
}

.shadow {
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.loader {
    border: 16px solid #38383847;
    border-radius: 50%;
    border-top: 16px solid #ffffff00;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    z-index: 10000;
}

.enemyReady {
    font-size: 2em;
    color: forestgreen;
}

.enemyNoReady {
    font-size: 2em;
    color: red;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

